/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  position: relative;
  font-family: "Proxima Nova";
  color: #ffffff;
  background: #162831;

}
@font-face {
  font-family: "Nova";
  src: url(./fonts/proximanova_bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Nova";
  src: url(./fonts/proximanova_regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Nova";
  src: url(./fonts/proximanova_light.otf);
  font-weight: 300;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.wrapper {
  background: #162831;


}
/*------header------*/
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1296px;
  margin: 0 auto;
}
.logo {
  width: 60px;
}
.logo img {
}

.menu {
  width: 655px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.menu__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
}

.button {
  width: 155px;
  height: 36px;
  border-radius: 3px;
  padding: 9px 10px 9px 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
}

.header__button {
  background: #018abe;
  color: #ffffff;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.reviews__swiper {
}
.reviews__swiper-wrapper {
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.reviews__swiper-slide {
  border-radius: 10px;
  background: #018abe;
  padding: 50px 60px 56px 60px;
}
.reviews-card {
  width: 516px;
  height: 100%;
}
.reviews-card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin: 0 0 20px 0;
}
.reviews-card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews-card__text-part {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #ffffff;
}
